<ons-page id="details-page" data-bind="with: memberRoot">
    <ons-toolbar>
        <div class="left"><ons-back-button>Zurück</ons-back-button></div>
        <div class="center">Mitglied-Details</div>
    </ons-toolbar>

    <div data-bind="template: {name: 'print-fab-template'}"></div>

    <div class="page-content" data-bind="with: memberDetails">
        <div data-bind="template: {name: 'details-field',
                                    data: { 'label': 'Benutzername',
                                            'content': userName}}"></div>
        
        <div data-bind="template: {name: 'details-field',
                                    data: { 'label': 'Vorname',
                                            'content': firstName}}"></div>
        
        <div data-bind="template: {name: 'details-field',
                                    data: { 'label': 'Nachname',
                                            'content': lastName}}"></div>
        
        <div data-bind="template: {name: 'details-field',
                                    data: { 'label': 'E-Mail',
                                            'content': mailAddress}}"></div>
        
        <div data-bind="template: {name: 'details-field-bool',
                                    data: { 'label': 'Ist Administrator',
                                            'content': admin}}"></div>
    </div>
</ons-page>