<ons-page id="details-page" data-bind="with: extractionRoot">
    <ons-toolbar>
        <div class="left"><ons-back-button>Zurück</ons-back-button></div>
        <div class="center">Entnahme-Details</div>
    </ons-toolbar>
    
    <div ></div>

    <div class="page-content" data-bind="with: extractionDetails">
        <div data-bind="template: {name: 'details-field',
                                    data: { 'label': 'Benutzername',
                                            'content': user().name }}"></div>
        <div data-bind="template: {name: 'details-field',
                                    data: { 'label': 'Abholdatum',
                                            'content': date }}"></div>
        <div data-bind="template: {name: 'details-field-currency',
                                    data: { 'label': 'Gesamtpreis',
                                            'content': totalPrice }}"></div>
        <div data-bind="template: {name: 'details-field-bool',
                                    data: { 'label': 'Bezahlt?',
                                            'content': paid }}"></div>
        
        <h2>Entnommene Lagerelemente</h2>
        <ons-row>
            <ons-col>
                <table>
                    <thead>
                        <tr>
                            <td>Produktname</td>
                            <td>Preis pro Einheit</td>
                            <td>Menge</td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: extractionItems">
                        <tr>
                            <td data-bind="text: warehouseItem().offer().product().name"></td>
                            <td><span data-bind="text: warehouseItem().offer().pricePerUnit"></span> &euro;</td>
                            <td data-bind="text: amount"></td>
                        </tr>
                    </tbody>
                </table>
            </ons-col>
        </ons-row>
    </div>
</ons-page>