<ons-page id="details-page" data-bind="with: extractionRoot">
    <ons-toolbar  data-bind="with: extractionManipulation">
        <div class="left"><ons-back-button>Zurück</ons-back-button></div>
        <div class="center" data-bind="text: pageTitle"></div>
    </ons-toolbar>

    <div class="page-content" data-bind="with: extractionManipulation">
        <div data-bind="visible: loading,
                        template: {name: 'progress-indicator-template', data: 'Daten werden geladen'}"></div>

        <div id="extraction-manipulation-form" data-bind="ifnot: loading">
            <div>
                <ons-row>
                    <ons-col>
                        <label for="userSelection">Entnommen von:</label>
                        <ons-select class="select">
                            <select id="userSelection"
                                    data-bind="options: selectableUsers,
                                    optionsText: 'displayName',
                                    value: selectedUser"></select>
                        </ons-select>
                    </ons-col>
                </ons-row>
                <span data-bind="template: {name: 'details-field',
                                    data: { 'label': 'Gesamtpreis: ',
                                            'content': totalPrice }}"></span>

                <ons-row>
                    <ons-col class="inner-edit-section">
                        <h1>Entnommene Lagerelemente</h1>
                        <ons-row>
                            <ons-col>
                                <label for="warehouseItemSelection">Lagerelement wählen:</label>
                                <ons-select class="select">
                                    <select id="warehouseItemSelection"
                                            data-bind="options: selectableWarehouseItemsToAdd,
                                            optionsText: function(warehouseItem) {
                                                return ko.unwrap(warehouseItem.offer().product().name) + ' (' + ko.unwrap(warehouseItem.offer().pricePerUnit) + ' € pro Einheit)';
                                            },
                                            value: selectedWarehouseItemToAdd"></select>
                                </ons-select>

                                <label for="amount">Menge:</label>
                                <ons-input input-id="amount"
                                           modifier="underbar"
                                           type="number"
                                           placeholder="Menge" required
                                           data-bind="textInput: amountOfSelectedWarehouseItemToAdd"></ons-input>

                                <ons-row>
                                    <ons-col data-bind="visible: extractionItemInputErrors()">
                                        <div class="validation-summary" data-bind="text: extractionItemInputErrors()">
                                        </div>
                                    </ons-col>
                                </ons-row>
                                <ons-button modifier="large--cta" data-bind="enable: !extractionItemInputErrors(), click: addItem">Entnahme hinzufügen</ons-button>
                            </ons-col>
                        </ons-row>

                        <div data-bind="with: selectedWarehouseItems">
                            <div data-bind="template: {name: 'generic-list-template', data: items}"></div>
                        </div>
                    </ons-col>
                </ons-row>

                <ons-row data-bind="with: itemToManipulate">
                    <ons-col data-bind="ifnot: valid">
                        <div class="validation-summary">
                            Bitte fülle alle Formularfelder aus und füge mindestens 1 Element für die Entnahme hinzu
                        </div>
                    </ons-col>
                </ons-row>
            </div>

            <ons-row>
                <ons-col>
                    <ons-button modifier="large--cta" data-bind="enable: itemToManipulate().valid, click: save">Speichern</ons-button>
                </ons-col>
            </ons-row>
        </div>
    </div>
</ons-page>