<ons-page id="details-page" data-bind="with: incomingGoodsRoot">
    <ons-toolbar>
        <div class="left"><ons-back-button>Zurück</ons-back-button></div>
        <div class="center">Wareneingang-Details</div>
    </ons-toolbar>
    
    <div data-bind="template: {name: 'print-fab-template'}"></div>

    <div class="page-content" data-bind="with: incomingGoodsDetails">
        <div>
            <ons-row>
                <ons-col>
                    <div data-bind="template: {name: 'details-field',
                                                data: {'label': 'Ansprechpartner',
                                                        'content': contactPerson().name}}"></div>
                    <div data-bind="template: {name: 'details-field',
                                                data: { 'label': 'Erstellungsdatum',
                                                        'content': creationDate}}"></div>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <h1>Wareneingang</h1>
                    <ons-row>
                        <ons-col>
                            <table>
                                <thead>
                                    <tr>
                                        <td>Angebots-ID</td>
                                        <td>Produkt</td>
                                        <td>Menge</td>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: incomingItems">
                                    <tr>
                                        <td data-bind="text: offer().id"></td>
                                        <td data-bind="text: offer().product().name"></td>
                                        <td data-bind="text: amount"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </ons-col>
                    </ons-row>
                </ons-col>
            </ons-row>
        </div>
    </div>
</ons-page>