<ons-page id="details-page" data-bind="with: shoppingCartRoot">
    <ons-toolbar data-bind="with: shoppingCartManipulation">
        <div class="left"><ons-back-button>Zurück</ons-back-button></div>
        <div class="center" data-bind="text: pageTitle"></div>
    </ons-toolbar>

    <div class="page-content" data-bind="with: shoppingCartManipulation">

        <div data-bind="visible: loading,
                        template: {name: 'progress-indicator-template', data: 'Daten werden geladen'}"></div>

        <div id="shopping-cart-manipulation-form" data-bind="ifnot: loading">
            <ons-row>
                <ons-col class="inner-edit-section">
                    <h1>Produkte hinzufügen</h1>

                    <label for="userSelection">Mitglied:</label>
                    <ons-select class="select">
                        <select id="userSelection"
                                data-bind="options: selectableUsers,
                                    optionsText: 'displayName',
                                    value: selectedUser"></select>
                    </ons-select>

                    <label for="offerSelection">Wähle ein Angebot:</label>
                    <ons-select class="select">
                        <select id="offerSelection"
                                data-bind="options: selectableProductsForAdd,
                                            optionsText: function(offer) {
                                                return ko.unwrap(offer.product().name) + ' (' + ko.unwrap(offer.pricePerUnit) + ' € pro Einheit | Mindestbestellmenge: ' + ko.unwrap(offer.minimumOrderQuantity) +  ')';
                                            },
                                            value: selectedProductForAdd"></select>
                    </ons-select>

                    <label for="amount">Menge:</label>
                    <ons-input modifier="underbar"
                               input-id="amount"
                               type="number"
                               placeholder="Menge" required
                               data-bind="textInput: amountOfSelectedProductToAdd"></ons-input>


                    <ons-row data-bind="visible: productInputErrors()">
                        <ons-col>
                            <div class="validation-summary" data-bind="text: productInputErrors()"></div>
                        </ons-col>
                    </ons-row>
                    <ons-button modifier="large--cta" data-bind="enable: !productInputErrors(), click: addProduct">Produkt hinzufügen</ons-button>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    Gesamtpreis: <span data-bind="text: itemToManipulate().totalPrice"></span> &euro;

                    <div data-bind="with: selectedProducts">
                        <div data-bind="template: {name: 'generic-list-template', data: items}"></div>
                    </div>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <ons-button modifier="large--cta" data-bind="click: save">Speichern</ons-button>
                </ons-col>
            </ons-row>
        </div>
    </div>
</ons-page>