<ons-page id="settings-page">
    <ons-toolbar>
        <div class="left" data-bind="template: {name: 'hamburger-menu-template'}"></div>
        <div class="center">Einstellungen</div>
    </ons-toolbar>

    <div class="page-content" data-bind="with: settings">
        <div data-bind="with: credentials">
            <h1>Authentifizierung</h1>
            <ons-row>
                <ons-col>
                    <label for="username">Benutzer: </label>
                    <ons-input modifier="underbar"
                               input-id="username"
                               type="text"
                               placeholder="Benutzer" required
                               data-bind="textInput: userName"></ons-input>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <label for="password">Passwort:</label>
                    <ons-input input-id="password"
                               modifier="underbar"
                               type="password"
                               placeholder="Passwort" required
                               data-bind="textInput: password"></ons-input>
                </ons-col>
            </ons-row>
        </div>

        <div>
            <h1>App-Einstellungen</h1>
            
            <ons-row>
                <ons-col>
                    <label for="endpoint">API-Endpunkt: </label>
                    <ons-input modifier="underbar"
                               input-id="endpoint"
                               type="text"
                               placeholder="API-Endpunkt" required
                               data-bind="textInput: serverEndpoint"></ons-input>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <label for="toastDuration">Benachrichtigungsdauer (Millisekunden): </label>
                    <ons-input modifier="underbar"
                               input-id="toastDuration"
                               type="number"
                               placeholder="Benachrichtigungsdauer:" required
                               data-bind="textInput: toastDurationMilliseconds"></ons-input>
                </ons-col>
            </ons-row>
        </div>
    </div>
</ons-page>