<ons-page id="details-page" data-bind="with: supplierRoot">
    <ons-toolbar>
        <div class="left"><ons-back-button>Zurück</ons-back-button></div>
        <div class="center">Hilfe</div>
    </ons-toolbar>

    <div class="page-content">
        <h2>Einstellungen</h2>
        <h3>Authentifizierung</h3>
        In diesem Abschnitt müssen Sie Ihre Anmeldedaten angeben, durch die Sie auf dem Server authentifiziert werden.
        Hierfür muss für Sie durch einen Administrator ein Account angelegt werden. Wenn Sie Ihr Passwort ändern wollen, können Sie dies nach Anfrage eines Administrators in der "Administrationsapp" unter Aufsicht erledigen.
        <h3>API-Endpunkt</h3>
        Hier muss die Adresse des FoodCoops-Servers angegeben werden. Diese Adresse wird Ihnen durch einen Administrator mitgeteilt.
        <h3>Benachrichtigungsdauer</h3>
        Legt in Millisekunden fest, wie lange Benachrichtigungen in der App angezeigt werden.

        <h2>Benutzer-App</h2>
        <p>
            In dieser App können Sie den Lagerbestand einsehen, Produkte in den Einkaufswagen legen und Abholungen eintragen.
            Um Produkte in einen Einkaufswagen hinzuzufügen muss dieser zunächst von einem Administrator eröffnet werden.
        </p>
        <p>
            Wenn Sie eine Abholung getätigt haben, können Sie diese im Tab "Abholungen" eintragen.
            Um eine Abholung als bezahlt zu markieren, muss lediglich auf der <em>Abholungen</em>-Seite das Symbol <ons-icon size="16px" icon="md-money"></ons-icon> gedrückt werden.
        </p>
    </div>
</ons-page>