<ons-page id="tabbar-userapp-page">
    <ons-toolbar>
        <div class="left" data-bind="template: {name: 'hamburger-menu-template'}"></div>
        <div class="center">User-App</div>
    </ons-toolbar>
    <ons-tabbar position="bottom">
        <ons-tab page="shared/warehouseItem/list.html" label="Lagerbestand"></ons-tab>
        <ons-tab page="shared/shoppingCart/list.html" label="Einkaufswägen"></ons-tab>
        <ons-tab page="shared/extraction/list.html" label="Abholzettel"></ons-tab>
    </ons-tabbar>
</ons-page>