<ons-page id="list-page" data-bind="with: warehouseItemRoot">
    <div class="page-content">
        
        <ons-pull-hook id="warehouse-list-pull-hook">
            Ziehen um zu aktualisieren
        </ons-pull-hook>
        <script type="text/javascript">
            document.querySelector('#warehouse-list-pull-hook').onAction = function (done) {
                ko.dataFor(document.querySelector('#warehouse-list-pull-hook')).refreshWarehouseItemList();
                done();
            }
        </script>
        
        <div data-bind="template: {name: 'print-fab-template'}"></div>
        <div data-bind="visible: loading,
                        template: {name: 'progress-indicator-template', data: 'Lager wird geladen'}"></div>

        <div id="warehouse-list-content" data-bind="ifnot: loading">
            <h1>Lagerbestand</h1>
            <ons-row>
                <ons-col>
                    <div data-bind="with: warehouseItemList">
                        <div>
                            # Lagerelemente:
                            <span data-bind="text: filteredItemCount"></span> von <span data-bind="text: itemCount"></span>
                        </div>

                        <ons-row>
                            <ons-col>
                                <ons-search-input placeholder="Suche" data-bind="value: filter"></ons-search-input>
                            </ons-col>
                        </ons-row>

                        <ons-row>
                            <ons-col>
                                <div data-bind="template: {name: 'generic-list-template', data: filteredItems}"></div>
                            </ons-col>
                        </ons-row>
                        <hr>
                    </div>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col data-bind="if: adminApp">
                    <ons-button modifier="large--cta" data-bind="click: navigateToAddPage">Lagerelement hinzufügen</ons-button>
                </ons-col>
            </ons-row>
        </div>
    </div>
</ons-page>