@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

ons-search-input, ons-input, textarea, ons-select {
    width: 100% !important;
}

.page-content {
    margin: 20px;
}

.page-content ons-row {
    margin-top: 10px;
}

/**********************
   Item manipulation
**********************/

.details-label, label {
    font-weight: bold;
}
.inner-edit-section {
    border: 1px dashed;
    background-color: #D9D9DE;
    padding: 10px;
}

.validation-summary {
    background-color: #ffa0a0;
    padding: 10px;
}

/**********************
   Progress indicator
**********************/
.progress-indicator-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-indicator-message {
    font-size: 20px;
    font-weight: bold;
}
.page-progress-indicator {
    margin-left: 10px;
    z-index: 999;
    width: 32px;
    height: 32px;
}

/**********************
        Printing
**********************/
@media print {
    .toolbar,
    ons-toast,
    .fab,
    .tabbar,
    .button,
    .list-item > .right,
    .no-print {
        display: none !important;
    }
}

/**********************
        Tables
**********************/
thead {
    background-color: lightgray;
}

table td {
    padding: 0px 10px 0px 10px;
}


/**********************
        Toasts
**********************/
.infoToast > .toast {
    background-color: gray;
}

.warningToast > .toast {
    background-color: #ffa0a0;
}

/**********************
        Logging
**********************/
.log-success {
    background-color: lightgreen;
}

.log-failure {
    background-color: lightcoral;
}

.log-console-log {
    background-color: lightblue;
}
.log-console-info {
    background-color: lightblue;
}
.log-console-warning {
    background-color: lightyellow;
}
.log-console-error {
    background-color: lightcoral;
}