<ons-page id="details-page" data-bind="with: supplierRoot">
    <ons-toolbar>
        <div class="left"><ons-back-button>Zurück</ons-back-button></div>
        <div class="center">Lieferanten-Details</div>
    </ons-toolbar>

    <div data-bind="template: {name: 'print-fab-template'}"></div>

    <div class="page-content" data-bind="with: supplierDetails">
        
        <div data-bind="template: {name: 'details-field',
                                    data: { 'label': 'Name',
                                            'content': name}}"></div>
        <div data-bind="template: {name: 'details-field',
                                    data: { 'label': 'Ansprechpartner',
                                            'content': contactPerson}}"></div>
        
        <div data-bind="template: {name: 'details-field',
                                    data: { 'label': 'Straße',
                                            'content': street}}"></div>
        <div data-bind="template: {name: 'details-field',
                                    data: { 'label': 'Ort',
                                            'content': location}}"></div>
        <div data-bind="template: {name: 'details-field',
                                    data: { 'label': 'Postleitzahl',
                                            'content': postalCode}}"></div>
        
        <div data-bind="template: {name: 'details-field',
                                    data: { 'label': 'Telefon',
                                            'content': phoneNumber}}"></div>
        <div data-bind="template: {name: 'details-field',
                                    data: { 'label': 'E-Mail',
                                            'content': mailAddress}}"></div>
        
        <ons-row>
            <ons-col>
                <h2>Angebote</h2>
                <table>
                    <thead>
                        <tr>
                            <td>Produktbezeichnung</td>
                            <td>Preis pro Einheit</td>
                            <td>Mindestbestellmenge</td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: productOffers">
                        <tr>
                            <td data-bind="text: product().name"></td>
                            <td><span data-bind="text: pricePerUnit"></span> &euro;</td>
                            <td data-bind="text: minimumOrderQuantity"></td>
                        </tr>
                    </tbody>
                </table>
            </ons-col>
        </ons-row>
    </div>
</ons-page>