<ons-page id="side-bar-page">
    <ons-list>
        <ons-list-item data-bind="click: navigateAdministrationModule">
                <ons-icon style="margin: 0px 15px 0px 0px" size="24px" icon="md-storage"></ons-icon>
                <span>Stammdatenverwaltung</span>
        </ons-list-item>
        <ons-list-item data-bind="click: navigateOrderModule">
                <ons-icon style="margin: 0px 15px 0px 0px" size="24px" icon="md-shopping-cart"></ons-icon>
                <span>Bestellverwaltung</span>
        </ons-list-item>
        <ons-list-item data-bind="click: navigateStorageModule">
                <ons-icon style="margin: 0px 15px 0px 0px" size="24px" icon="md-store"></ons-icon>
                <span>Lagerverwaltung</span>
        </ons-list-item>
        <ons-list-item data-bind="click: navigateSettings">
                <ons-icon style="margin: 0px 15px 0px 0px" size="24px" icon="md-settings"></ons-icon>
                <span>Einstellungen</span>
        </ons-list-item>
        <ons-list-item data-bind="click: navigateHelpPage">
                <ons-icon style="margin: 0px 15px 0px 0px" size="24px" icon="md-help"></ons-icon>
                <span>Hilfe</span>
        </ons-list-item>
    </ons-list>

    <!--<h1>Log</h1>
    <div data-bind="with: log">
        <ons-button data-bind="click: clear">
            <ons-icon icon="md-delete"></ons-icon> Leeren
        </ons-button>
        <div data-bind="foreach: logEntries">
            <ons-row data-bind="class: typeClass" style="margin-bottom: 2px; overflow: auto">
                <ons-col>
                    <span data-bind="text: date"></span>
                    <span> - </span>
                    <span data-bind="text: time"></span>
                    <span> | </span>
                    <span data-bind="text: typeName"></span>
                    <ons-row>
                        <ons-col>
                            <span data-bind="text: message"></span>
                        </ons-col>
                    </ons-row>
                </ons-col>
            </ons-row>
        </div>
    </div>-->
</ons-page>