<ons-page id="tabbar-storage-page">
    <ons-toolbar>
        <div class="left" data-bind="template: {name: 'hamburger-menu-template'}"></div>
        <div class="center">Lagerverwaltung</div>
    </ons-toolbar>
    <ons-tabbar position="bottom">
        <ons-tab page="shared/warehouseItem/list.html" label="Lager"></ons-tab>
        <ons-tab page="administrationApp/incomingGoods/list.html" label="Wareneingang"></ons-tab>
        <ons-tab page="shared/extraction/list.html" label="Abholungen"></ons-tab>
    </ons-tabbar>
</ons-page>